.c-menu__item {
    background-color:#B3CB65;
    color: #000000;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    text-align: center;  
      
    
}

.c-menu__item2 {
    font-size: 20px;
    color: #000000;
    background-color: #B3CB65;
    text-align: center; 
    
    
}
.demo{
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color:#000000;
    width: 1000px;
    margin: 0 auto;
    text-align: center;    
}

.c-menu__item3{

    font-family: "Times New Roman", Times, serif; 
    color: #000000;
    background-color: #B3CB65;;
    text-align: center;
     

}

section.main-feature {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px; 
    text-align: center;
}
